<!-- Child of answer.hbs -->
<!-- Lists answers and author for each question correctly associating with the right question -->

<ul>
  {{#each answers as |answer|}}
    <li>{{answer.answer}} -{{answer.answerer}}</li>

  {{/each}}
</ul>
