<!-- Primary template -->
<!-- Displays home page -->
<!-- Parent of about, contact, question, and answer .hbs files -->

<h2>Questions:</h2>

{{new-question save="save"}}

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
